<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="formulario.css">
    <title>Document</title>
</head>
<body>
    <h1>hola</h1>
   <form action="/ingresar" method="post" class="container">

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre">

    <label for="apellido">Apellido:</label>
    <input type="text" name="apellido" id="apellido">

    <label for="edad">Edad:</label>
    <input type="number" name="edad" id="edad">

    <button type="submit">Enviar</button>

   </form>
   <a href="/">inicio</a>
    <a href="/viewUser">ver</a>
</body>
</html>